body{
   background-color: rgb(251, 255, 24);
   font-family: 'Lobster Two', cursive;
   font-size:42px;
   color:rgb(224, 21, 72);
}

div.container{
    border: 14px solid rgb(250, 15, 160);
    padding-bottom: 20px;
}
p#greeting {
    font-family: 'lobster Two';
    text-align: center;  
    margin-bottom: 14px;
}


*{
    box-sizing: border-box;
}

#snow{
    margin-left: 500px;
    padding-top: 20px;
}

#christmas{
    margin-left: 500px;
}

