body,
.more-snow{
    &;before,
    &:after{
      content: "";
      position: fixed;
      top: -3000%;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(black, 0.01);  
      background-image: 
      url(https://freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
      background-size: 30%;
      -webkit-animation-name: MOVE-BG;
      -webkit-animation-duration: 500s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
    }

  
    background-color: black;
    font-family: 'Lobster Two', cursive;
    font-size: 42px;
    color:rgb(224, 21, 72);
  
}

div.container{
    border: 14px solid rgb(250, 15, 160);
    padding-bottom: 20px;
}
p#greeting {
    font-family: 'lobster Two';
    text-align: center;  
    margin-bottom: 14px;
}


*{
    box-sizing: border-box;
}

#snow{
    margin-left: 500px;
    padding-top: 20px;
}

#christmas{
    margin-left: 500px;
}

